/* todopage.css */
.todo-page {
    font-family: Arial, sans-serif;
    width: 350px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    font-size: 50px; /* Adjust the size of the logo */
    color: #7F8AC7; /* Logo color */
}

h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 15px;
}

.task-input {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.task-input input {
    width: 80%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.date-time-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.date-time-input input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: grey;
}

.time-picker-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
    
}

.add-task-btn {
    width: 100%;
    padding: 10px;
    background-color: #7F8AC7;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.add-task-btn:hover {
    background-color: #7F8AC7;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task-details {
    display: flex;
    flex-direction: column;
}

.task-text {
    font-size: 16px;
    font-weight: bold;
}

.task-date, .task-time {
    font-size: 14px;
    color: #555;
}

.delete-btn {
    background-color: transparent;
    color: #ff4d4d;
    border: none;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-btn:hover {
    color: #ff3333;
}

.delete-btn i {
    font-size: 18px; /* Adjust the size of the trash icon */
}
